@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gafata&display=swap');

*{
font-family: 'Open Sans', sans-serif;
/* font-family: 'Roboto', sans-serif; 
font-family: 'Abril Fatface', cursive; 
font-family: 'Gafata', sans-serif;  */
}

h3,h2,h5 {
  justify-content: center;
  text-justify: center;
}

.logo {
  width: 15rem;
}

.container-aboutus{
  width: 70% !important;
}

.img-aboutus {
  width: 100%;
  margin: auto;
  justify-content: center;
  display: block;
}

.subtitle-aboutus {
  text-align: left;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.para-aboutus{
  padding: 0rem;
  width: 100%;
  text-align: justify;
  padding: 0rem;

}

.logo-image{
  width: 100%;
}

.intro-image {
  height: 90vh;
  width: 100%;
  background-image: url('/src/img/l02.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  position: relative;
  display: block;
}

.intro-fade{
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
  justify-content: center;
}

.container{
  max-width: 100% !important;
  padding-right: 8rem !important;
  padding-left: 8rem !important;
}

.container-intro{
  display: flex;
  flex-direction: column;
  width: 25vw;
  max-width: 30rem;
  min-width: 15rem;
  margin: auto;
}

.project-description{
  text-align: justify;
  width: 80%;
}

h1, h2, h5{
  text-align: center;
  justify-content: center;
  margin: 1rem;
}

footer {
  flex-grow: 1;
  display: flex;
  width: 100%;
  position: relative;
  /* background:  rgb(39, 39, 39); */
  bottom: 0;
}
.social {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.address {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.address > * {
  margin: auto;
  padding: .3rem;
  text-align: center;
}

.light-text{
  font-weight: 100;
  font-size: small;
}

.privacy{
  padding: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.para-privacy {
  width: 100%;
  text-align: justify;
  padding: .5rem;
}

.privacy-button{
  all: unset;
  cursor: pointer;
  padding: 0.4rem !important;
  font-size: .9rem;
  color: black;
  text-decoration: none;
  text-align: center;
}

.service-card {
  height: 100;
}

.service-image {
  overflow: hidden !important;
}

.service-title {
  padding: 3rem;
}

.project-individual{
  width: 80% !important;
}

.card-projects:hover, .card-service:hover {
    transition: 0.3s;
    border: 0.08rem solid var(--code-block-fun);
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-projects{
  border: none !important;
  --bs-card-inner-border-radius: none !important;
}

.card-single-project{
  border: none !important;
}

p {
  text-align: right;
  margin: auto !important;
  padding: 1rem;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  flex-grow: 8;
  width: 20rem;
}

a {
  margin: 0;
  padding: .4rem !important;
  font-size: .9rem;
  color: black !important;
  text-decoration: none !important;
}

header {
  flex-grow: 1;
  display: grid;
  width: 100%;
  position: relative;

  /* background: linear-gradient(to top, transparent, rgb(39, 39, 39)); */
}

ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 100%;
  flex: auto;
}
ul > * {
  padding: 1rem;
  margin: auto;
}
li > * {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: black;
  font-size: 1.2rem;
}

.header-links{
  justify-content: flex-end;
}

nav{
  height: 100%;
  display: flex;
}

li {
  margin: 0;
  font-size: 1rem;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.logo {
  text-align: center;
  font-size: large;
  font-weight: 1000;
  font-size: 20px;
}

.about {
  text-align: left;
}

.work {
  text-align: right;
}